@media (max-width: 1440px) {
    .start-header {
        height: 64vh;
    }
}

@media (max-width: 1261px) {
    .start-header {
        height: 74vh;
    }
}

@media (max-width: 1024px) {
    .start-header {
        height: 70vh;
    }
    .start-header .img-header {
        margin-top: 9rem;
        margin-left: 5%;
    }
    .text-header {
        margin-left: 9rem;
        margin-top: 13rem;
    }
}

@media (max-width: 991px) {
    .navbar-light .navbar-toggler {
        border-color: #212529!important;
    }
    .image-wrapper{
        position: fixed;
        background-color: #fb0223e3;
        width: 100vw;
        z-index: 100000;
    }
    .navbar-brand{
        content: url(images/logo-omega\ -mobile.png);
        width: 35%;
        height: 10%;
        top: 1px;
        margin-left: 30px;
    }
    button.navbar-toggler{
        margin-top: -5px;
    }
    .navbar-light .navbar-toggler{
        color: rgb(222, 226, 230);
        border-color: #e9ecef;
    }
    .navbar-collapse .navbar-nav {
        padding-left: 104%;
        margin-top: -5px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 0.9rem;
        font-weight: 400;
        margin-top: 5px;
        float: right;
    }
    .navbar-light .navbar-nav .active>.nav-link{
        font-size: 0.9rem;
        font-weight: 400;
        margin-top: 5px;
    }
    .img-logo {
        display: none;
    }
    .start-header {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .start-header .img-header {
        background-color: #f8f9fa;
        z-index: 10000;
        width: 17rem;
        height: 17rem;
        margin-top: 5rem;
        margin-left: 0%;
    }
    .start-header .img-header img {
        width: 130%;
    }
    .text-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        margin-top: 12rem;
    }
    .text-header h1 {
        color: #f8f9fa;
        font-size: 2.7rem;
        font-weight: 400;
    }
    .text-header p {
        font-size: 1rem;
        font-weight: 400;
    }
    .empresa {
        margin-top: 15%;
        width: 100vw;
    }
    .image-label-right{
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .image-label-right img{
        width: 30%;
        height: 30%;
        margin-bottom: 5%;
        margin-left: 0%;
    }
    .image-label-right p{
        font-size: 1rem;
        font-weight: 700;
        text-align: justify;
        margin-bottom: 5%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .image-label-left{
        justify-content: center;
        flex-direction: column;
        width: 100vw;
    }
    .image-label-left img{
        width: 30%;
        height: 30%;
        margin-bottom: 5%;
        margin-right: 0%;
        margin-left: 0%;
    }
    .image-label-left p{
        font-size: 1rem;
        font-weight: 700;
        align-items: justify;
        margin-bottom: 5%;
        margin-right: 10%;
        margin-left: 10%;
    }
    .parallax span{
        margin-left: 0%;
    }
    .logo-omega img{
        margin-left: 30%;
    }
}

@media (max-width: 768px) {
    .img-logo {
        display: none;
    }
    .start-header .img-header {
        margin-left: -10%;
    }
    .empresa {
        margin-top: 8%;
    }
    .b-empresa h2 {
        margin-bottom: 1%;
        margin-top: 12%;
    }
    .h-empresa p {
        font-size: 0.8rem;
    }
}

@media (max-width: 740px) {
    .h-empresa p{
        font-size: 1rem;
    }
    .parallax span{
        margin-left: 0%;
        font-size: 1.7rem;
        margin-top: 20%;
    }
    .logo-omega img{
        margin-left: 30%;
    }
}

@media (max-width: 580px) {
    .empresa {
        margin-top: 0%;
    }
    .b-empresa h2 {
        margin-top: 30%;
        margin-bottom: 5%;
    }
    .parallax span{
        margin-left: 0%;
        font-size: 1.3rem;
        margin-top: 20%;
    }
    .logo-omega img{
        margin-left: 30%;
    }
}

@media (max-width: 496px) {
    .empresa {
        margin-top: 0%;
    }
    .b-empresa h2 {
        margin-top: 50%;
        margin-bottom: 10%;
    }
    .h-empresa p {
        font-size: 0.9rem;
    }
    .image-label-right img{
        width: 40%;
        height: 40%;
    }
    .image-label-left img{
        width: 40%;
        height: 40%;
    }
    .parallax span{
        margin-left: 0%;
        font-size: 1rem;
        margin-top: 25%;
    }
    .logo-omega img{
        margin-left: 30%;
    }
}

@media (max-width: 425px) {
    button.navbar-toggler {
        margin-top: 0px;
    }
    .navbar-brand{
        content: url(images/logo-omega\ -mobile.png);
        width: 60%;
        height: 2%;
        top: 1px;
        margin-left: 30px;
    }
    .navbar-light .navbar-nav .active>.nav-link {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .navbar-collapse .navbar-nav {
        padding-left: 78%;
        margin-top: 0px;
    }
    .start-header {
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .start-header .img-header {
        background-color: #f8f9fa;
        z-index: 10000;
        width: 14rem;
        height: 14rem;
        margin-top: 2rem;
        margin-right: 4rem;
    }
    .start-header .img-header {
        margin-left: 0%;
    }
    .start-header .img-header img {
        width: 130%;
    }
    .text-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        margin-top: 7rem;
        width: 75vw;
    }
    .text-header h1 {
        color: #f8f9fa;
        font-size: 2rem;
        font-weight: 400;
    }
    .text-header p {
        font-size: 1rem;
        font-weight: 400;
    }
    .empresa {
        margin-top: 0%;
    }
    .b-empresa h2 {
        margin-top: 20%;
    }
    .h-empresa p {
        font-size: 0.8rem;
    }
    .image-label-right p{
        font-size: 0.7rem;
        font-weight: 700;
    }
    .image-label-left p{
        font-size: 0.7rem;
        font-weight: 700;
    }
    .parallax span{
        margin-left: 0%;
        font-size: 1rem;
        margin-top: 30%;
    }
    .logo-omega img{
        margin-left: 30%;
    }
}

@media (max-width: 321px) {
    .navbar-toggler-icon {
        width: 1.3em;
        height: 1.3em;
    }
    .start-header .img-header {
        background-color: #f8f9fa;
        z-index: 10000;
        width: 12rem;
        height: 12rem;
        margin-top: 2rem;
        margin-right: 2rem;
    }
    .start-header .img-header img {
        width: 120%;
    }
    .empresa {
        margin-top: 0%;
    }
    .b-empresa h2 {
        margin-top: 20%;
    }
    .h-empresa p {
        font-size: 0.7rem;
    }
    .image-label-right p{
        text-align: left;
        margin-bottom: 10%;
    }
    .image-label-left p{
        text-align: left;
        margin-bottom: 10%;
    }
    .parallax span{
        margin-left: 0%;
        font-size: 0.9rem;
        margin-top: 50%;
    }
    .logo-omega img{
        margin-left: 30%;
    }
}