@media (max-width: 991px) {
    .image-wrapper{
        position: fixed;
        background-color: #fb022380;
        width: 100vw;
    }
    .navbar-brand{
        content: url(images/logo-omega\ -mobile.png);
        width: 35%;
        height: 10%;
        top: 1px;
        margin-left: 30px;
    }
    button.navbar-toggler{
        margin-top: -5px;
    }
    .navbar-light .navbar-toggler{
        color: rgb(222, 226, 230);
        border-color: #e9ecef;
    }
    .navbar-collapse .navbar-nav {
        padding-left: 104%;
        margin-top: -5px;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 0.9rem;
        font-weight: 400;
        margin-top: 5px;
        float: right;
    }
    .navbar-light .navbar-nav .active>.nav-link{
        font-size: 0.9rem;
        font-weight: 400;
        margin-top: 5px;
    }
    .img-logo {
        display: none;
    }
}



@media (max-width: 768px) {
    .img-logo {
        display: none;
    }
}

@media (max-width: 425px) {
    button.navbar-toggler {
        margin-top: 0px;
    }
    .navbar-light .navbar-nav .active>.nav-link {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .navbar-collapse .navbar-nav {
        padding-left: 78%;
        margin-top: 0px;
    }
}