@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css');

@import "./fontawesome/scss/solid.scss";


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-image: url(images/Cores-Luminoso.png);
    background-repeat: no-repeat;
    width: 98.8vw;
    height: 100vh;
    object-fit: cover;
}

.navbar-custom {
    background-color: transparent !important;
    width: 100%;
    float: right;
}

.navbar-brand {
    content: url(images/logo-omega\ -mobile.png);
    width: 30%;
    height: 7.5%;
    margin-left: 30px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #f8f9fa;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;

}

.navbar-light .navbar-nav .active>.nav-link:hover {
    background: #f8f9fa;
    color: #ff0000;
    font-weight: 600;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 15px;
    padding: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
    background: #f8f9fa;
    color: #ff0000;
    font-weight: 600;
    border-radius: 5px;
}
.start-header {
    display: flex;
    width: 98vw;
    height: 84vh;
    justify-content: center;
    margin-bottom: 5%;
}
.start-header .img-header {
    background-color: #f8f9fa;
    z-index: 10000;
    width: 17rem;
    height: 17rem;
    margin-top: 5rem;
    margin-left: 0%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 10%;
}
.start-header .img-header img {
    width: 130%;
}

.text-header {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    margin-top: 12rem;
}

.text-header h1 {
    color: #f8f9fa;
    font-size: 2.7rem;
    font-weight: 300;
    text-shadow: .1rem .2rem 2px rgba(0, 0, 0, 4);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    opacity: 0.8;
    animation: moveBanner 1s forwards;

}

.text-header p {
    color: #f8f9fa;
    font-size: 1rem;
    text-shadow: .1rem .2rem 2px rgba(0, 0, 0, 4);
    opacity: 0.8;
    animation: moveBanner 1s forwards;
}

@keyframes moveBanner {
    0% {
        transform: translateY(50rem) rotateY(-100deg);
    }

    100% {
        transform: translateX(0) rotateX(0);
        opacity: 1;
    }

}

main {
    width: 98vw;
}
.empresa {
    background-image: linear-gradient(180deg, #f8f9fa00 0%, #f8f9fa 100%);
    width: 98.8vw;
    height: 100%;
}
.b-empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
}
h2 {
    font-size: 2rem;
    color: #19191a;
    font-weight: 700;
    border-bottom: solid 3px #ff0000;
    text-transform: uppercase;
    margin-bottom: 1%;
}
p{
    font-size: 1rem;
    color: #19191a;
    font-weight: 600;
}
.h-empresa {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color: #feffff00;
    width: 80vw;
    height: 35vh;
    margin-left: 10%!important;
    padding: 2%;
}
.h-empresa b{
    text-transform: uppercase;
}
.image-label-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 94.7vw;
}
.image-label-right img{
    width: 20%;
    height: 20%;
    border-radius: 100%;
    margin-left: 13%;
    margin-bottom: 5%;
}
.image-label-right p{
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 15%;
    margin-left: 15%;
}
.image-label-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 94.7vw;
    flex-flow: row-reverse;
}
.image-label-left img{
    width: 20%;
    height: 20%;
    border-radius: 100%;
    margin-right: 13%;
    margin-bottom: 5%;
}
.image-label-left p{
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 15%;
    margin-left: 15%;
}
[data-anime]{
    opacity: 0;
    transition: 1s;
}
[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}
[data-anime="left"]{
    transform: translate3d(-100px, 0, 0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0, 0, 0);
}
.catalogo{
    display: flex;
    justify-content: center;
}
button{
    background-color: #ff0000;
    color: #f8f9fa;
    padding: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border: none;
    border-radius: 10px;
    margin-top: 5%;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5%;
}
button:hover{
    background-color: #f33939;
    color:#f8f9fa;
    border-radius: #ff0000;
}
.img-parallax{
    background: url(images/Copiadora\ e\ Impressora.png);
    background-color: rgba(7, 7, 7, 0.507);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
    display: flex;
    width: 98.8vw;
    align-items: center;
    flex-direction: column;
}
.parallax span{
    display: flex;
    padding: 0;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin-top: 8%;
    justify-content: center;
}
.logo-omega img{
    display: flex;
    width: 100%;
    height: 50%;
    margin-top: 5%;
    justify-content: center;
}
.marcas{
    background-color: #fff;
    width: 98.8vw;
    height: 60vh;
    padding-top: 3%!important;
}
.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    background-color:#feffff00;
    width: 80vw;
    margin-left: 10%!important;
    padding: 1%;
}
.mySwiper {
    width: 100%;
    height: 60%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin-bottom: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
 }
.swiper-slide img {
    display: flex;
    width: 40%;
    height: 40%;
    align-items: center;
    object-fit: cover;
}
.swiper-slide img:hover {
    transition: 1s;
    transform: scale(1.07);
}
.swiper-wrapper{
    width: 100%;
}
.swiper-slide{
    width: 100%;
}
.card{
    border: 0px solid rgba(0,0,0,.125);
}
.contato{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    align-content: center;
    
}
.contato #btn a {
    text-decoration: none;
    color: #f8f9fa;
}
.rodape{
    display: flex;
    background-color: #ff0000;
    align-self: flex-start;
    margin-top: 15%;
    height: 50vh;
    width: 98.8vw;
}
.link-rodape{
    display: flex;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 0%;
}
.link-rodape.navbar-nav .active>.nav-link {
    color: #f8f9fa;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;

}

.link-rodape .navbar-nav .active>.nav-link:hover {
    background: #f8f9fa;
    color: #ff0000;
    font-weight: 600;
    border-radius: 5px;
}

.link-rodape .navbar-nav .nav-link {
    color: #f8f9fa;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 15px;
    padding: 10px;
}

.link-rodape .navbar-nav .nav-link:hover {
    background: #f8f9fa;
    color: #ff0000;
    font-weight: 600;
    border-radius: 5px;
    width: 75%;
}
.logo-empresa{
    display: flex;
    justify-content: start;
    align-items: flex-start;

}
.logo-empresa img{
    padding-top: 6%;
    padding-bottom: 7%;
    width: 70%;
}
.rodape-center {
    display: flex;
    margin-top: 2%;
    width: 40%;
    flex-direction: column;
}
.endereco {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}
.call {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}

.tel {
    font-size: large;
}

.tel a {
    color: #f8f9fa;
    text-decoration: none;
    text-transform: lowercase;
}
.social {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
}
.icon-social {
    font-size: 2rem;
}
ion-icon {
    color: #f8f9fa;
    margin-right: 5%;
    margin-top: 2.2%;
}
.rodape-center .andress h3 {
    color: #f8f9fa;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.rodape-center p{
    color: #f8f9fa;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 400;
    margin-top: 0.5%;
}
.rodape-right {
    margin-right: 3%;
}
.map {
    padding-top: 5%;
    display: flex;
    font-size: 0.6rem;
    align-items: flex-end;
    justify-content:flex-end;
    padding-bottom: 2%;
}
.devenloper {
    display: flex;
    font-size: 0.6rem;
    align-items: flex-end;
    justify-content:center;
    background-color: #ff0000;
    width: 98.8vw;
    padding-top: 2%;
    padding-bottom: 1%;

}

.devenloper a{
    color: #f8f9fa;
    text-transform: uppercase;
    text-decoration: none;
}

